// _color.scss

:root,
[data-theme="light"] {
  --color-primary: #1976d2;
  --color-primary-hover: #1565c0;
  --color-background: #ffffff;
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #666666;
  --color-text-heading: #231f20;
  --color-text-muted: #888888;
  --color-border: #ededed;
  --color-link: #3a94ff;
}

[data-theme="dark"] {
  --color-primary: #eef0f1;
  --color-primary-hover: #dfe1e2;
  --color-background: #1a1a1a;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-text-heading: #ffffff;
  --color-text-muted: #b0b0b0;
  --color-border: #3a3a3a;
  --color-link: #6aafff;
}
  